h1{
font-size:8rem;

}
.hero{
height:400px;
background:url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-cool-music-festival-carnival-character-silhouette-background-design-backgroundcolorfullivelycharacter-carnivalholiday-backgroundmusic-image_70553.jpg") center/cover;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.card img{
height:220px;
object-fit:cover;
}

.gallery{
margin-bottom:20px;
border-radius:10px;
}