h1{
font-size:8rem;
color:black;
}
.hero{
height:400px;
background:url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30") center/cover;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.card img{
height:220px;
object-fit:cover;
}

.gallery{
margin-bottom:20px;
border-radius:10px;
}